/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

/* font-family: 'Amatic SC', cursive; */
/* font-family: 'Playfair Display', serif; */

/* COLORS

orange: #0e5764
red: crimson;
dark grey: #252422
medium grey: #ebf4f6
light grey: #0e5764
almost white: #FFFCF2

*/

/* HOME PAGE */
@media screen and (min-width: 1024px) {
  /* IMAGE GALLERY ON HOME PAGE */

  .navbar-container {
    height: 4rem;
  }

  .image-gallery-slides {
    height: calc(100vh - 8rem);
  }

  .image-gallery-slide {
    height: 100%;
    width: 100%;
  }

  .image-gallery-image {
    object-fit: cover !important;
  }

  /* ABOUT PAGE */

  .about-container {
    margin: auto;
    padding: 0%;
    width: 80vw;
    padding-top: 10vh;
  }

  .about-title {
    font-family: "Amatic SC", cursive;
    font-weight: 700;
    font-size: 4.4rem;
    color: #0e5764;
    margin: 1rem 0rem;
  }

  .about-header {
    font-family: "Amatic SC", cursive;
    font-weight: 700;
    font-size: 2.8rem;
    color: #0e5764;
    margin: 1rem 0rem;
  }

  .about-text {
    font-family: "Playfair Display", serif;
    font-size: 1.4rem;
    color: #0e5764;
    margin: 1rem 0rem 6rem 0rem;
  }

  /* BAD REASONS PAGE */

  .bad-reasons-container {
    margin: auto;
    padding: 0%;
    width: 80vw;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bad-reasons-title {
    text-align: center;
    font-family: "Amatic SC", cursive;
    font-weight: 700;
    font-size: 4.4rem;
    color: #0e5764;
    margin: 1rem 0rem;
  }

  .bad-reasons-list {
    display: flex;
  }

  .bad-reasons-header {
    text-align: center;
    font-family: "Amatic SC", cursive;
    font-weight: 700;
    font-size: 2.8rem;
    color: #0e5764;
    margin: 1rem 0rem 2rem 0rem;
    padding: 0%;
  }

  .bad-reasons-text {
    font-family: "Playfair Display", serif;
    font-size: 1.4rem;
    color: #0e5764;
    margin: 1rem 0rem 6rem 0rem;
    text-align: justify;
    width: 60vw;
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .bad-reasons-pager-text {
    display: none;
  }

  .page-button {
    font-family: "Rubik", sans-serif;
    position: relative;
    top: 12vh;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    font-size: 5rem;
    background-color: unset;
    border-color: none;
    border-width: 0px;
    color: #0e5764;
    text-shadow: #252422 0.6rem 0.6rem 1.1rem;
  }

  .page-button:hover {
    color: #0e5764;
  }

  .page-button:active {
    color: #0e5764;
    text-shadow: #252422 0.3rem 0.4rem 0.6rem;
    top: 13vh;
  }

  /* GOOD METHOD PAGE */

  .good-container {
    margin: auto;
    padding: 0%;
    width: 80vw;
    padding-top: 10vh;
    text-align: justify;
  }

  .good-title {
    text-align: center;
    font-family: "Amatic SC", cursive;
    font-weight: 700;
    font-size: 4.4rem;
    color: #0e5764;
    margin: 1rem 0rem;
  }

  .good-text {
    font-family: "Playfair Display", serif;
    font-size: 1.4rem;
    color: #0e5764;
    margin: 1rem 0rem 1rem 0rem;
  }

  .good-link {
    font-family: "Playfair Display", serif;
    font-size: 1rem;
    color: #0e5764;
    margin: 0rem 0rem 1rem 0rem;
    list-style: none;
  }

  .good-links {
    padding: 0%;
    text-align: center;
  }
  .good-link-container-text {
    font-family: "Playfair Display", serif;
    font-size: 1rem;
    color: #0e5764;
  }

  .smileycat {
    justify-content: center;
    display: flex;
    padding: 0%;
    margin: 2rem 0rem 6rem 0rem;
  }

  #good-cat-1,
  #good-cat-2,
  #good-cat-3 {
    width: 20vw;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  /* CONTACT PAGE */

  .contact-form {
    margin: auto;
    padding: 0%;
    width: 100vw;
    padding-top: 10vh;
    display: block;
  }

  .contact-title {
    padding: 0%;
    font-family: "Amatic SC", cursive;
    font-weight: 700;
    font-size: 3rem;
    color: #0e5764;
    margin: 1rem 0rem 3rem 0rem;
  }

  form {
    background-color: #252422;
    box-sizing: border-box;
    height: 52vh;
    padding-top: 4vh;
    width: 60vw;
    margin: auto;
  }
  .cut {
    display: none;
  }

  .input-row {
    width: 100%;
    margin: 0%;
  }

  .input {
    margin: 0.8rem 0rem 0rem 0rem;
    font-family: "Amatic SC", cursive;
    font-weight: 700;
    color: #252422;
    width: 80%;
    border-radius: 0%;
    background-color: #0e5764;
    padding: 0%;
    padding-left: 2%;
    height: 1.8rem;
  }

  .textarea {
    margin: 0.8rem 0rem 0rem 0rem;
    font-family: "Amatic SC", cursive;
    font-weight: 700;
    color: #252422;
    width: 80%;
    border-radius: 0%;
    background-color: #0e5764;
    padding: 0%;
    padding-left: 2%;
    height: 1.8rem;
  }

  #button-container {
    text-align: center !important;
  }

  .submit {
    height: 10vw;
    width: 10vw;
    font-family: "Amatic SC", cursive;
    font-weight: 700;
    font-size: 3rem;
    text-align: center !important;
    border-width: 0.5rem !important;
    border-style: solid !important;
    border-color: #ebf4f6 !important;
    border-image: none !important;
    padding: 0%;
    color: #ffa630;
    background-color: #0e5764;
  }

  .submit:active {
    background-color: crimson !important;
    color: #fffcf2;
  }

  .contact-response {
    padding: 0%;
    font-family: "Amatic SC", cursive;
    font-weight: 700;
    font-size: 4.4rem;
    text-align: center !important;
    color: #0e5764;
    width: 80vw;
    margin: 6rem 0rem 2rem 0rem;
  }
}

/* ADOPT PAGE */

.adopt-container {
  margin: auto;
  padding: 0%;
  width: 80vw;
  padding-top: 10vh;
  display: grid;
  grid-template-columns: 50% 50%;
}

.adopt-cat-card {
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 100%;
  padding: 1vw;
}

.adopt-img {
  height: 50%;
  object-fit: cover;
  object-position: center;
}

.adopt-text {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  padding: 0.3rem;
  text-align: justify;
  color: #0e5764;
}

.adopt-strong-text {
  font-family: "Amatic SC", cursive;
  font-weight: 700;
  font-size: x-large;
}
