/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

/* IMAGE GALLERY */

@import "~react-image-gallery/styles/css/image-gallery.css";

/* COLORS

orange: #EB5E28
red: crimson;
dark grey: #252422
medium grey: #CCC5B9
light grey: #403D39
almost white: #CCC5B9

*/

/* ELEMENTS */

/* NAVBAR */

.navbar-button {
  display: none;
}
.navbar-list {
  font-family: "Amatic SC", cursive;
  font-weight: 700;
  font-size: 2rem;
  width: 100%;
  height: 4rem;
  background-color: #eb5e28;
  display: flex;
  width: 100%;
  padding: 0;
  align-items: center;
  position: relative;
  top: 0;
  margin: 0;
}
.navbar-list-item {
  justify-content: center;
  height: 100%;
  text-align: center;
  width: 9rem;
  list-style-type: none;
  display: flex;
  align-items: center;
  text-align: center;
}
.navbar-list-item:hover {
  background-color: green;
}

/* FOOTER */

.footer-container {
  font-family: "Amatic SC", cursive;
  font-weight: 400;
  font-size: 2rem;
  width: 100%;
  height: 4rem;
  background-color: #eb5e28;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
}
.footer-list {
  width: 100%;
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
}
.footer-list-item {
  display: flex;
  text-align: center;
  list-style-type: none;
}

.adoszam {
  padding-left: 2rem;
}

/* BAD REASONS */

.bad-reasons-container {
  display: flex;
  width: 80%;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-bottom: 5rem;
  text-align: justify;
  margin: auto;
}

.bad-reasons-list-item {
  
}

.about-container {
  display: flex;
  width: 80%;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-bottom: 5rem;
  text-align: justify;
  margin: auto;
}

.reasons-container {
  display: flex;
  width: 80%;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-bottom: 5rem;
  text-align: justify;
  margin: auto;
  min-height: 100vh;
  padding: 4rem 0;
  z-index: 1;
}

/* CONTACT-FORM */

.contact-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 10%;
  justify-content: center;
  align-items: center;
}

.input-row {
  position: relative;
  width: 100%;
  margin: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*//////////////////////////*/

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #403d39;
  color: antiquewhite;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* ADOPT PAGE */

.adopt-container{
  width: 100%;
  max-height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.adopt-cat-card{
object-position: center;
object-fit: cover;
}

.adopt-img{
  width: 100%;

}

/* MOBILE */

@media screen and (max-width:425px){
  .navbar-container{
    display: none;
  }
  .navbar-button{
    display:block;
  }
  .footer-list {
    align-items:flex-start;
    justify-content: flex-start;
    width: fit-content;
  }
  .footer-container {

  }

}
.goodmethod-list{
font-size: large;

/*///////////////////////*/

form {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  height: 500px;
  padding: 20px;
  width: 320px;
}

.contact-title {
  font-family: "Amatic SC", cursive;
  font-weight: 700;
  font-size: 2rem;
  height: 4rem;
  text-shadow: 2px 2px #eb5e28;
  display: flex;
  width: 100%;
  padding: 0;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 0.1rem;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #CCC5B9;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

/* textarea {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #CCC5B9;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
  margin: 0.1rem;
} */

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
}

.input:active ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:active ~ .placeholder {
  color: #dc2f55;
}

.submit {
  background-color: #EB5E28;
  border-radius: 100%;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 1.5rem;
  height: 16rem;
  margin-top: 1.2rem;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}