.effect-3 {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.effect-3::after {
  content: "";
  display: block;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
